@import "tailwindcss";

.glass-card {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.09);
  isolation: isolate !important;
}

/* Override Browser Autofill Styling */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: white !important;
  font-family: inherit !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Grotesk", sans-serif;
}

body {
  font-family: "Google Sans Code", monospace;
}

/* --- Navbar Link Transitions --- */

.nav-link {
  position: relative;
  display: inline-block;
  width: fit-content;
  padding: 0.25rem 0;
  font-weight: 500;
  transition: color 0.3s ease-out;
  will-change: color;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #818cf8;
  transition: width 0.3s ease-out;
}

/* --- Desktop States --- */
.nav-desktop-inactive {
  color: #9ca3af;
}
.nav-desktop-inactive:hover {
  color: #ffffff;
}
.nav-desktop-inactive:hover::after {
  width: 100%;
}

.nav-desktop-active {
  color: #818cf8;
}
.nav-desktop-active::after {
  width: 100%;
  background-color: #818cf8;
}

/* --- Mobile States --- */
.nav-mobile-inactive {
  color: #9ca3af;
}
.nav-mobile-inactive:active {
  color: #ffffff;
}

.nav-mobile-active {
  color: #818cf8;
}
.nav-mobile-active::after {
  width: 100%;
  background-color: #818cf8;
}

/* --- Page Transition Animation --- */
@keyframes pageFadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-page-enter {
  animation: pageFadeSlideUp 0.4s ease-out forwards;
}

/*  --- Input card styles --- */
@layer components {
  .input-field {
    @apply w-full bg-white/5 border border-white/10 rounded-xl px-4 py-3 text-white placeholder-gray-400 focus:outline-none focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500 transition-all;
  }

  .btn-primary {
    @apply w-full bg-white/90 text-indigo-800 font-bold py-3 rounded-xl hover:bg-white transition-all duration-300 hover:shadow-[0_0_15px_rgba(255,255,255,0.3)] focus:outline-none disabled:opacity-50 disabled:cursor-not-allowed;
  }
}
